<%= form_for @role do |f| %>
  <%= base_errors_for @role %>

  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _("Role") %></a></li>
    <% if User.current.allowed_to?(:view_filters) %>
      <li><a href="#filters" data-toggle="tab"><%= _('Filters') %></a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <%= text_f f, :name, :class => @role.builtin? ? "disabled" : ""  %>
      <%= hidden_field_tag :original_role_id, @original_role_id if @cloned_role %>

      <% if show_location_tab? || show_organization_tab? %>
        <h6><%= popover("", _("Whenever organizations or locations role association is changed, the change will propagate to all inheriting filters.
                               Filters that are set to override will remain untouched. Overriding of role filters can be easily disabled by
                               Disable overriding filters action. Note that not all filters support organizations and locations so these always remain global."),
                        :title => _("Role organizations and locations.")).html_safe %> <%= _("Changes to following associations will propagate to all inheriting filters.") %></h6>
      <% end %>

      <% if show_location_tab? %>
        <% collection = User.current.locations.empty? ? Location : Location.my_locations %>
        <%= multiple_checkboxes f, :locations, f.object, collection, {}, { :label => _("Locations") } %>
      <% end %>

      <% if show_organization_tab? %>
        <% collection = User.current.organizations.empty? ? Organization : Organization.my_organizations %>
        <%= multiple_checkboxes f, :organizations, f.object, collection, {}, { :label => _("Organizations") } %>
      <% end %>
    </div>

    <div class="tab-pane" id="filters">
      <% if @role.new_record? %>
        <%= alert :header => '', :class => 'alert-warning',
                  :text => _("Please save the role first. You can edit it later to add filters") %>
      <% else %>
        <div data-ajax-url="<%= filters_path(:role_id => @role, :paginate => 'client') %> table" data-on-complete="activateDatatables">
          <%= spinner(_('Loading filters ...')) %>
        </div>
        <hr>
        <%= link_to_if_authorized(_("New filter"), hash_for_new_filter_path(:role_id => @role),
                                  { :class => 'btn btn-success pull-right'} ) %>
        <%= link_to_if_authorized(_('Disable all filters overriding'), hash_for_disable_filters_overriding_role_path(:id => @role),
                                  :method => :patch, :class => 'btn btn-default pull-right') %>
      <% end %>
    </div>

    <%= submit_or_cancel f %>
  </div>
<% end %>
